.mainImage {
	width:100%;
}
.titleOverlay {
	width:100%;
	position:absolute;
	bottom:3px;
	background-color: black;
	height: 5.5em;
	opacity:0.4;
	filter:alpha(opacity=40);
}
h1.title{
	font-family: Time New Roman;
	font-size: 1.2em;
	font-style: italic;
	position: absolute;
	bottom: 0px;
	display: block;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.3em;
	background-color: rgba(0,0,0,0.6);
	width: 84%;
	text-align: left;
	padding: 0px 8%;
}
.detailTop{
	width:100%;
	position:relative;
	overflow:hidden;
}
p.articleFirst, p.article{
	font-family: Georgia;
	font-size:1.2em;
	line-height:1.5em;
	margin-top: 2em;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
}
p.articleFirst:first-letter{
	font-size: 5em;
	font-style: italic;
	float:left;
	line-height:1em;
	padding:6px 20px 0 0;
	text-transform:uppercase
}
aside.moreArticles{
	width:100%;
	margin-top: 3em;
	clear:both;
}


aside.reklamaRight{
	width: 320px;

    float:  left;
    margin-right: 20px;
    clear:both;

}

.mainText{
	margin: 0px 8%;
}

aside.moreArticles h2{
	font-family: UniversLTW02-59UltraCn;
	font-size: 1.4em;
	text-transform:uppercase;
	margin-left:3%;
	margin-bottom:1em;
}

.moreArticles .newsList{
	margin:3%
}

@media only screen 
and (min-width : 420px) 
{
	h1.title{
		font-size: 1.5em;
	}

}

@media only screen 
and (min-width : 768px) { 
	h1.title{
		line-height:2em;
		font-size: 1.8em;
	}
	aside.moreArticles{
		width: 20%;
		margin-top: 3em;
		margin-right:5%;

		float: right;
		clear: none;
	}
	p.articleFirst, p.article{

	}
	.mainText{
		width:60%;
		margin-right:0px;
		float:left;
	}
	.moreArticles .newsTile{
		width:100%;
		margin: 1em 0;
	}
	.moreArticles .newsTile .newsTitle{
		font-family: Verdana;
		font-size: 0.8em;
		font-style: normal;
	}
	aside.moreArticles h2{
		margin-left:0px;
		margin-bottom:0px;
	}

	aside.reklamaRight{
		float: right;
		margin-right: 70px;
	}
}