body{
	background-color: #fff;
}

#slideMenu {
    background-color: #fff;
    float: left;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position:  -546px 0;
	width: 33px;
	height: 33px;
}