<!Doctype HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="application-name" content="Onet.pl"/> 
    <meta name="msapplication-TileColor" content="#ffffff"/> 
    <meta name="msapplication-TileImage" content="http://ocdn.eu/images/pulscms/ZmQ7MDA_/a3999790d747fc0b5b0b499285bb62d1.png"/>
    <meta name="HandheldFriendly" content="true" />
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/detal.css">

    <link rel="stylesheet" href="css/menu/jquery.sidr.light.css">
    <link rel="stylesheet" href="css/menu/menu.css">
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script data-main="scripts/main" src="scripts/require.js"></script>
    <title>Onet - wersja mobilna</title>	
</head>
<body>
    <div id="menuOverlay"></div>
    <div><a id="slideMenu" href="#sidr"></a></div>
    <div id="sidr">
        <div id="menuContent">
            <div><div class="item wiadomosci" href="#" category="Wiadomości"><span>&rsaquo;</span>Wiadomości</div></div>
            <div><div class="item sport" href="#" category="Sport"><span>&rsaquo;</span>Sport</div></div>
            <div><div class="item biznes" href="#" category="Biznes"><span>&rsaquo;</span>Biznes</div></div>
            <div><div class="item gadzety" href="#" category="Technologie i gry"><span>&rsaquo;</span>Technologie i gry</div></div>
            <div><div class="item rozrywka" href="#" category="Rozrywka"><span>&rsaquo;</span>Rozrywka</div></div>
            <div><div class="item styl-zycia" href="#" category="Styl życia"><span>&rsaquo;</span>Styl życia</div></div>
            <div><div class="item moto" href="#" category="Moto"><span>&rsaquo;</span>Moto</div></div>
            <div><div class="item wiedza-swiat" href="#" category="Wiedza i świat"><span>&rsaquo;</span>Wiedza i świat</div></div>
        </div>
    </div>
	<div id="header">
		<a href="#"><img src="img/logosg.png" /></a>
		<img src="img/mail.png" class="mailIcon" />
	</div>
	<div id="wrapper">

		
	</div>	

	<script type="text/template" id="sgDetail">
		
			<a href="#detail/<%=id %>">
				<img src="<%=image %>" />
				<div class="label <%= servicePath.split('.')[0] %>"><%=   mainTopic %></div>
				<div class="newsTitle"><%=title %></div>
				<div class="delete" ></div>
			</a>
		
	</script>
	
	<script type="text/template" id="lead">
		<a href="#detail/<%=id %>">
			<div class="topNews" style="background-image:url(<%= image %>)">
				<div class="topNewsTitle"><%=title %></div>
			</div>
		</a>
	</script>
    
	<script type="text/template" id="index">

		<div class="slide">
			<div id="sg" class="content">
				<div id="topNews">
				</div>
				<div class="menuTiles">
                    <a class="menuTile menuBtn" href="javascript:void(0);" id="menuBtn" onclick="Menu.toggle();">Menu <span>&rsaquo;</span></a> 
					<div class="menuTile wiadomosci " category="Wiadomości">Wiadomości</div>
					<div class="menuTile sport" category="Sport">Sport</div>
					<div class="menuTile styl-zycia" category="Styl życia">Styl życia</div>
					<div class="menuTile biznes " category="Biznes">Biznes</div>
					<div class="menuTile rozrywka" category="Rozrywka">Rozrywka</div>
					<div class="menuTile gadzety" category="Gadżety">Technologie i Gry</div>
					<div class="menuTile moto " category="Moto">Moto</div>
					<div class="menuTile wiedza-swiat" category="Wiedza i świat">Wiedza i świat</div>
				</div>
				<div id="newsList" class="newsList">

				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="detail">
		<div class="slide">
			<div class="wraper">
				<div class="detailTop">
					<img src="<%= news.meta.image.url %>" alt="%opis foto" class="mainImage">
					<div class="prevButton"></div><div class="nextButton"></div>
					<!--<div class="titleOverlay"></div>-->
					<h1 class="title"><%= news.meta.title %></h1>
				</div>
				<article class="mainText">
					<% _.each(news.manifest.ref_0.content.blocks, function(v, i) { %>
						<p class="<% if (i === 0) { %>articleFirst<% } else { %>article<% } %>"><%= v.data.text %></p> 
					<% }); %>
				</article>
				<aside class="moreArticles">
					<h2>Więcej na temat</h2>
					<div id="newsListRec" class="newsList">
						
					</div>
				</aside>
				<aside class="reklamaRight">
					<img src="img/reklamaRight.png" />
				</aside>

			</div>
		</div>
	</script>

	<script type="text/template" id="recommendedList">
		<% _.each(rec.elements, function(v, i) { %>
			<% 
				if (typeof v.image !== 'undefined' && v.image !== "") {
				var id = v.id.replace('#MobileNewsListElement', ''); 
			%>
				<a href="#detail/<%=id %>">
					<div class="newsTile">
						<img src="<%= v.image %>" />
						<div class="label"><%= v.mainTopic %></div>
						<div class="newsTitle"><%= v.title %></div>
					</div>
				</a>
			<% } %>
		<% }); %>
		<div class="placeholder">
		</div>
	</script>

</body>
</html>