#sidr {
    /*display: none;*/
    overflow: hidden !important;
}

#menuOverlay {
    position: fixed;
    top: 0px;
    right:0px;
    float: left;
    background: #000;
    opacity: 0.3;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 8888;
}

#menuBtn {
    text-decoration: none;
}
.menuBtnActive {
    text-decoration: #dedede;
}
#slideMenu {
    display: none;
}
#menuContent {
    width: 100%;
    overflow: hidden;
    height: 800px;
}
    #menuContent div {
        width: 100%;
        height: 30px;
        float: left;
        margin-top: 20px;
    }
    

        #menuContent div div.item {
            padding-right: 10px;
            width: auto;
            height: 30px;
            float: left;
            text-align: left;
            line-height: 17px;
            margin-bottom: 20px;
            text-transform:uppercase;
            text-decoration: none;
            font-size: 22px;
            color: #fff;
            /*background: #000;*/
            font-family: 'UniversLTW02-59UltraCn';
            letter-spacing: 2px;
        }
            #menuContent div div.item span {
                width: 30px;
                height: 30px;
                float: left;
                border-right: 1px solid #fff;
                margin-right: 10px;
                text-align: center;
                font-size: 30px;
                line-height: 14px;
            }
            
            
            
            
            #obrazek {
                -webkit-transform:rotateX(0deg);
                -moz-transform:rotateX(0deg);
                -ms-transform:rotateX(0deg);
                transform:rotateX(0deg);
            }
            
            .animate {
                animation: myfirst 2s;
                -webkit-animation: myfirst 2s;
            }
            
            
            
            
            @keyframes myfirst
            {
                0%   {
                    -webkit-transform:rotateX(70deg);
                    -moz-transform:rotateX(70deg);
                    -ms-transform:rotateX(70deg);
                    transform:rotateX(70deg);
                }
                100% {
                    -webkit-transform:rotateX(0deg);
                    -moz-transform:rotateX(0deg);
                    -ms-transform:rotateX(0deg);
                    transform:rotateX(0deg);
                }
            }

            @-webkit-keyframes myfirst /* Safari and Chrome */
            {
                0%   {
                    -webkit-transform:rotateX(70deg);
                    -moz-transform:rotateX(70deg);
                    -ms-transform:rotateX(70deg);
                    transform:rotateX(70deg);
                }
                100% {
                    -webkit-transform:rotateX(00deg);
                    -moz-transform:rotateX(0deg);
                    -ms-transform:rotateX(0deg);
                    transform:rotateX(0deg);
                }
            }